.cardheader__root {
  padding: 0.5rem 0.65rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 3rem;
}

.cardheader__root .MuiCardHeader-root {
  padding: 0;
}

.cardheader__root .MuiAvatar-circular {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .cardheader__root {
    min-height: 4rem;
  }
  .cardheader__root .MuiAvatar-circular {
    width: 1.95rem;
    height: 1.95rem;
    font-size: 1rem;
  }
}
