.navbar__root {
  background-color: var(--color-secondary);
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 95%;
}
.navbar__container a {
  text-decoration: none;
  font-weight: 600;
  color: var(--bg-default);
  font-size: 0.9rem;
}

.navbar__root .MuiSvgIcon-root {
  width: 1.95rem;
  height: 1.95rem;
  color: var(--bg-default);
}
.navbar__root .MuiAvatar-root {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--color-secondary);
  background-color: var(--bg-default);
}

.navbar__root .MuiIconButton-root {
  padding: 0.75rem 0.35rem;
}
.navbar__links {
  padding: 1rem 0;
}

.navbar__container > div > :nth-child(1) {
  margin-right: 1rem;
}
.navbar__root input[type='file'] {
  display: none;
}

.navbar__dialogContent {
  width: 16rem;
}
.navbar__dialogContent > p {
  font-family: inherit;
  color: var(--color-secondary);
}

.navbar__root .MuiButton-text {
  color: var(--color-secondary) !important;
}
@media screen and (min-width: 600px) {
  .navbar__container {
    max-width: 90%;
  }

  .navbar__root .MuiIconButton-root {
    padding: 0.75rem 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar__container {
    max-width: 85%;
  }
  .navbar__container a {
    font-size: 1rem;
  }

  .navbar__dialogContent {
    width: 18rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar__container {
    max-width: 75%;
  }
}

@media screen and (min-width: 1440px) {
  .navbar__container {
    max-width: 85rem;
  }
}
