.addcomment__root {
  display: flex;
  width: 100%;
  padding: 1rem;
  /* align-items: center; */
}

.addcomment__root > textarea {
  border: 0;
  outline: none;
  padding: 0 14px;
  flex: 1;
  font-family: inherit;
  max-height: 70px;
  resize: none;
}

.addcomment__root > button {
  border: 0;
  outline: none;
  color: blueviolet;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}
