.imagecard__root {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 0.8rem 0;
  background-color: #fff;
}

.imagecard__root > img {
  width: 100%;
  height: 100%;
}

.imagecard__root > h3,
h5 {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .imagecard__root {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border: 1.8px solid #b8b8b8;
  }
}

@media screen and (min-width: 768px) {
  .imagecard__root {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .imagecard__root {
    width: 45%;
  }
}
