.navbar__root {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  color: #000;
}

.navbar__root a {
  text-decoration: none;
  font-weight: 600;
  padding: 0 1rem;
}
.navbar__root input {
  display: none;
}

.navbar__msgerror {
  font-size: 12px;
  color: rgb(212, 14, 14);
  font-weight: 600;
}

.navbar__unsignedlinks {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar__root {
    border-bottom: 1.8px solid #b8b8b8;
  }
  .navbar__signedlinks {
    padding: 0 5rem;
  }
  .navbar__unsignedlinks {
    padding: 1rem 5rem;
  }
}
