.signup__root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.signup__form {
  padding: 1.5rem;
}

.signup__form > form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.signup__form > h3 {
  margin: 1rem 0;
  text-align: center;
}
.signup__form > form > input {
  padding: 8px 14px;
  margin: 4px 0;
  background-color: #fafafa;
  border: 1.8px solid #b8b8b8;
  font-family: inherit;
  border-radius: 4px;
  outline: none;
}

.signup__form > p {
  text-align: center;
  font-size: 14px;
}
.signup__form a {
  text-decoration: none;
  font-weight: 600;
}

.signup__error {
  color: rgb(207, 24, 24);
  margin: 1rem 0;
  font-weight: 600;
  font-size: 12px !important;
}

@media screen and (min-width: 422px) {
  .signup__form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 600px) {
  .signup__root {
    justify-content: center;
    align-items: center;
  }
  .signup__form {
    width: 400px;
    border: 1.8px solid #b8b8b8;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .signup__form {
    width: 380px;
  }
}
