.imagecard__root {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  max-width: 38rem;
  max-height: 38rem;
}
.imagecard__wrapper {
  min-height: 22rem;
  background-color: var(--bg-default);
}
.imagecard__wrapper .MuiIconButton-root {
  padding: 0.25rem 0.65rem;
}

.imagecard__root p {
  font-size: 0.9rem;
  margin: 0 0.65rem;
}

.imagecard__stats {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.9rem;
}
.imagecard__stats .MuiIconButton-label {
  width: 1.7rem;
  height: 1.7rem;
}

.imagecard__skeleton {
  height: 15rem;
}
.imagecard__actions {
  padding: 0;
}
.imagecard__cardcontent {
  padding: 0.5rem 0.65rem 0 0.65rem;
}
@media screen and (min-width: 600px) {
  .imagecard__root {
    margin: 1.5rem auto;
    border-radius: 2px;
    border: 1.8px solid #b8b8b8;
  }
}

@media screen and (min-width: 768px) {
  .imagecard__root p {
    font-size: 1rem;
  }
}
