.imageupload__root {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: inherit;
  justify-content: center;
}

.imageupload__root > img {
  width: 100%;
  border-radius: 8px;
  max-height: 440px;
  object-fit: cover;
}
.imageupload__caption {
  width: 100%;
  margin: 1.25rem 0;
}
.imageupload__caption > input[type='text'] {
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 26px;
  outline: none;
  border: 1.9px solid #b8b8b8;
  font-family: inherit;
  font-weight: 600;
}

.imageupload__btnActions {
  margin: 2rem 0;
}
.imageupload__btnActions > button {
  padding: 6px 26px;
  border-radius: 20px;
  border-width: 0;
  outline: none;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}
.imageupload__btnActions > button:nth-child(2) {
  margin-left: 10px;
  background: transparent;
  border: 1.8px solid #b8b8b8;
}

@media screen and (min-width: 600px) {
  .imageupload__root {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .imageupload__root {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 922px) {
  .imageupload__root {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .imageupload__btnActions > button {
    padding: 10px 38px;
  }

  .imageupload__btnActions > button:nth-child(2) {
    margin-left: 20px;
  }
}
