.commentlist__root {
  padding-bottom: 0.7rem;
  word-break: break-all;
}
.commentlist__root > p {
  margin: 4px 0;
  font-size: 0.8rem !important;
}

.commentlist__root > p > span {
  font-weight: 600;
  font-size: 0.8rem;
}
