.signup__root {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--bg-default);
}

.signup__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  max-width: 26rem;
  padding: 2rem 0.65rem;
  border-radius: 0.15rem;
}
.signup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 52%;
}
.signup__form > input {
  padding: 0.65rem 1.25rem;
  border-radius: 0.2rem;
  outline: none;
  border: 0.125rem solid #b6b6b6;
  font-family: inherit;
  font-weight: bold;
}

.signup__button {
  padding: 0.4rem 1.25rem;
  border-radius: 0.2rem;
}

.signup__errWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.signup__errWrapper a {
  margin-left: 0.4rem;
}
.signup__error {
  margin: 1rem 0;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .signup__wrapper {
    margin: 3rem auto;
  }
  .signup__form {
    height: 65%;
  }
}
@media screen and (min-width: 768px) {
  .signup__root {
    padding: 1rem 0.65rem;
  }
}
